
body {
    background-color: wheat;
}

h1 {
    color: black;
    text-align: center;
}

h4 {
    color: black;
    text-align: center;
}

ul {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

label {
    color: #007bff;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border-radius: 0.5px;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    background: #0056b3;  
}

.nav {
    list-style: none;
    padding: 0%;
    margin: 0%;
    display:flex;
    justify-content: center;
}

.nav li {
    margin: 0 1px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

* {
    text-align:justify;
    color: black;
  }

  a {
    position: relative;
    text-decoration: none;
    color: #000;
    background-color: #007bff;
  }

  a::after {
    content: "";
    position: absolute;
    left:0%;
    bottom: 0%;
    width: 0%;
    height: fit-content;
    background-color: #000;
    transition: width 0.3s ease;
  }

  a:hover::after {
    width: 100%;
  }

  a:hover {
    background-color: wheat;
    color: #007bff;
  }

  